{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/members/appointment-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="appointment-container">
  <div class="appointment">
    <h2 class="subsection-title">{{ member.name }}</h2>
    <p>Appointment Date: {{ appointment.date }}</p>
    <p>Appointment Type: {{ appointment.appointment_type }}</p>
    <p>Diagnosis: {{ appointment.diagnosis }}</p>
    <p>Treatment: {{ appointment.treatment }}</p>
    <p>Follow Up: {{ appointment.follow_up }}</p>
  </div>
  <div class="buttons">
    <a href="{% url 'appointment-update' appointment.id %}" class="btn warn">Edit</a>
  <a href="{% url 'appointment-delete' appointment.id %}" class="btn danger">Delete</a>
  </div>
</section>

{% endblock %}
