{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
></script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/members/member-detail.css' %}"
/>
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
<script defer src="{% static 'js/member-detail.js' %}"></script>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Edit {{ object.name }}</h1>
</div>
<form action="{% url 'appointment-update' appointment.id %}" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}
