{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/members/member-detail.css' %}"
/>
<script defer src="{% static 'js/member-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="member-container">
  <div class="member-img">
  </div>
  <div class="member-details">
    <h2>{{ member.name }}</h2>
    {% if member.age > 0 %}
      <p>{{ member.name }} is a {{ member.age }} year old {{ member.gender }} born on {{ member.birth_date }}</p>
    {% else %}
      <p>{{ member.name }} is a {{ member.race }} born on {{ member.birth_date }}</p>
    {% endif %}
    <p>{{ member.medical_history }}</p>
    <p><small>{{ member.name }} weights {{ member.weight }} and is {{ member.height }} inhces tall.</small></p>
    <div class="member-actions">
      <a href="{% url 'member-update' member.id %}" class="btn warn">Edit</a>
      <a href="{% url 'member-delete' member.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="appointment-container">
  <section class="appointment">
    <div class="subsection-title">
      <h2 class="subsection-title">Appointments</h2>
    </div>
    <h3>Add an Appointment</h3>
    <form 
      action="{% url 'add-appointment' member.id %}"
      method="post" 
      class="subsection-content" 
      autocomplete="off"
    >
      {% csrf_token %}
      {{ appointment_form.as_p }} 
      <button type="submit" class="btn submit">Add Appointment</button>
  </form>
    <h3>Past Doctor Appointments</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Visit Type</th></tr>
      </thead>
      <tbody>
        {% for appointment in member.appointment_set.all %}
          <tr>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.visit_type }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}
